@import 'bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container, .list-container, .attendance-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

table {
  width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
